<div class="footer">
    <div class="grid wide">
        <div class="grid__row">
            <div class="c-2-5  ">
                <h3 class="footer-heading">Thông tin</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link"></a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link"></a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link"></a>
                    </li>
                </ul>
            </div>
            <div class="c-2-5  ">
                <h3 class="footer-heading">Phim hay</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Giới thiệu</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Điều khoản </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">Dịch vụ</a>
                    </li>
                </ul>
            </div>


            <div class="c-2-5  ">
                <h3 class="footer-heading">Phim mới</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            </i> Phim khoa học</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            Phim kinh dị</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            Phim chiếu rạp</a>
                    </li>
                </ul>
            </div>
            <div class="c-2-5  ">
                <h3 class="footer-heading">Kết nối</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item-icon fab fa-facebook"></i> FaceBook</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item-icon fab fa-instagram-square"></i>Instaram</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer-item-link">
                            <i class="footer-item-icon fab fa-linkedin"></i>Likedin</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>
</div>