<nav class="nav_bar">
    <div class="header">
        <div class=" header_navbar">
            <div class="grid wide flex-header">
                <div class="header_banner">
                    <a href="/" class="hbanner_link">TvWatch</a>
                </div>
                <div class=" header_menu">
                    <div class="grid wide header_menu_list">
                        <ul>
                            <li class="menu_item"><a href="" class="link_menu_item">Phim mới</a></li>
                            <li class="menu_item"><a href="" class="link_menu_item">Phim lẻ</a></li>
                            <li class="menu_item"><a href="" class="link_menu_item">Phim bộ</a></li>
                            <li class="menu_item">
                                <a href="" class="link_menu_item">Thể loại
                                    <i class="fa-solid fa-caret-down"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li id="menu-1" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Cổ trang

                                        </a>
                                    </li>
                                    <li id="menu-2" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Viễn
                                            tưởng</a>
                                    </li>
                                    <li id="menu-3" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Kinh
                                            dị</a>
                                    </li>
                                    <li id="menu-4" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Hoạt
                                            hình</a>
                                    </li>
                                    <li id="menu-5" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Phim
                                            hài</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu_item">
                                <a href="" class="link_menu_item">Quốc gia
                                    <i class="fa-solid fa-caret-down"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li id="menu-1" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Trung
                                            Quốc

                                        </a>
                                    </li>
                                    <li id="menu-2" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Việt Nam
                                        </a>
                                    </li>
                                    <li id="menu-3" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Hàn Quốc
                                        </a>
                                    </li>
                                    <li id="menu-4" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Thái Lan
                                        </a>
                                    </li>
                                    <li id="menu-5" class="menu_item">
                                        <a href="" class="link_sub_menu"><i class="fa-solid fa-caret-right"></i>Mỹ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="header_search">
                    <div class="search_input">
                        <input type="text" class="search_input" placeholder="Tìm kiếm">
                    </div>

                    <div class="search_icon">
                        <i class=" fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <div class="header_user flex">
                    <div class="header_user_notify">
                        <div class="user_notify_icon mar-bot-5">
                            <i class="fa-regular fa-bell"></i>
                        </div>

                        <div class="user_notify_title">
                            <p class=""> Thông báo</p>
                        </div>

                        <div class="user_notify_list">

                            <div class="notify_list_tiltle">
                                <i class="fa-regular fa-bell "></i>
                                <span style="margin-left: 5px;">Thông báo</span>

                            </div>
                            <div class="notify_err">
                                <span>Vui lòng đăng nhập để nhận thông báo</span>
                            </div>
                            <div style="margin-left: 10px; ">
                                <a href="/register">
                                    <button type="button" title="Đăng ký" class="user_register" onclick="MyFunction()"
                                        style="background-color: rgb(172, 13, 13) ;">
                                        <span>Đăng ký</span>
                                    </button>
                                </a>
                            </div>
                            <div style="margin-left: 10px;">
                                <a href="/login">
                                    <button type="button" title="Đăng nhập" class="user_login"
                                        style="border: 1px solid rgb(150, 5, 5); color:rgb(150, 5, 5)">
                                        <span>Đăng nhập</span>
                                    </button></a>
                            </div>
                        </div>
                    </div>


                    <div class="header_user_acc">
                        <div class="user_acc mar-bot-5">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="user_name">
                            <span>Tài khoản</span>
                        </div>
                        <div class="user_connects_list">
                            <div>
                                <a href="/register">
                                    <button type="button" title="Đăng ký" class="user_register"
                                        style=" background-color: rgb(172, 13, 13) ;">
                                        <span>Đăng ký</span>
                                    </button>
                                </a>
                            </div>
                            <div>
                                <a href="/login">
                                    <button type="button" title="Đăng nhập" class="user_login"
                                        style="border: 1px solid rgb(150, 5, 5); color:rgb(150, 5, 5)">
                                        <span>Đăng nhập</span>
                                    </button>
                                </a>
                            </div>
                            <div>
                                <button class="user_login_face  " style="background-color:  #008cff;">
                                    <i class="fa-brands fa-facebook"></i>
                                    <span>Đăng nhập bằng Facebook</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</nav>