<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a user</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>


<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create user</a>

    </div>
    <div class="form-add-new">
        <form action="/create-user" method="POST">
            <fieldset>
                <legend> Add new users</legend>
                <div class="input_group">
                    <label>Email:</label>
                    <input type="text" name="email">
                </div>

                <div class="input_group">
                    <label>Name:</label>
                    <input type="text" name="Name">
                </div>

                <div class="input_group">
                    <label>Mật khẩu:</label>
                    <input type="text" name="password">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>



    </div>
</body>

</html>