h1 {
  color: red;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d94566;
}

.chia-cot {
  display: flex;
}

.mb-3 {
  margin-left: 20px;
}

.card-item {
  margin-top: 20px;
}

.card-title {
  color: #2489F4;
}

.book_name {
  color: #2489F4;
}

.fa-star {
  color: #ffb323;
}

#header_title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #290080;
}

.Book_detail {
  display: flex;
}

.book_text_con {
  display: flex;
  justify-content: space-around;
}

.info_tg {
  margin-left: 30px;
}

.sl {
  border: 1px solid #000;
  padding: 5px 20px;
  border-radius: 10px;
  margin-left: 30px;
}

#footer {
  margin-top: 10px;
}

.register {
  display: flex;
  padding: 5px 20px;
  border: 1px solid #000;
  background-color: #9fa7ab;
  justify-content: center;
  align-items: center;
}

.register h3 {
  color: white;
}

.footer_text_box {
  margin-left: 30px;
}

.info_footer {
  width: 25%;
  margin-left: 20px;
}

.info_footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info_footer ul li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

.text_footer {
  display: flex;
  justify-content: space-between;
}



.header_navbar {
  width: 100%;
  height: 80px;
  background-color: #151414;
}

.header_banner a {
  text-decoration: none;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: #cbcbcb;
}

.header_search {
  display: flex;
  background-color: #2d2d2d;
  width: 25%;
  border-radius: 5px;
  border: 1px solid #2d2d2d;
}

.search_input {
  padding: 2px;
  flex: 1;

}

.search_input input {
  outline: none;
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  background-color: #2d2d2d;
}

.search_icon {
  padding: 13px 20px;
  color: #cbcbcb;
  background-color: #2d2d2d;
  border-radius: 3px;
  cursor: pointer;
}

.search_icon:hover {
  opacity: 0.8;
}

.header_user_notify,

.header_user_acc {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-top: 20px;
  color: #cbcbcb;
  position: relative;
  cursor: pointer;
}

.user_notify_list {
  display: none;
  position: absolute;
  background: #2d2d2d;
  top: 65px;
  width: 300px;
  right: 0px;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  z-index: 999;
}

.notify_list_tiltle {
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}

.notify_err {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.header_user_notify:hover .user_notify_list {
  display: block;
}

.header_user_notify::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 25px;
  top: 40px;
  left: 0px;
}

.header_user_notify::before {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 25px;
  top: -20px;
  left: 0px;
}

.header_user_acc {
  cursor: pointer;
  position: relative;
}

.header_user_acc::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 25px;
  top: 40px;
  left: 0px;
}

.header_user_acc::before {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 25px;
  top: -20px;
  left: 0px;
}

.user_connects_list {
  display: none;
  position: absolute;
  background-color: #2d2d2d;
  list-style-type: none;
  color: #000;
  top: 65px;
  right: -5px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 25px;
  border-radius: 5px;
  opacity: 0.9;
  z-index: 999;
}

.header_user_acc:hover .user_connects_list {
  display: block;
}

.user_login,
.user_login_face,
.user_register {
  width: 250px;
  height: 30px;
  line-height: 10px;
  border-radius: 5px;
  font-size: 13px;
  color: #cbcbcb;
  border: none;
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.user_login:hover,
.user_login_face:hover,
.user_register:hover {
  font-size: 14px;
  line-height: 8px;
}

.header_menu {
  color: #cbcbcb;


}

.header_menu_list {
  display: flex;
  position: relative;
}

.header_menu_list div {
  margin-right: 15px;
  padding: 10px 5px;
  cursor: pointer;
}

.header_menu_list {
  margin-right: 10px !important;
}

.header_menu_list a {
  font-weight: 625;
  color: #cbcbcb;
  text-decoration: none;
}

.header_menu_list ul>li:hover .link_menu_item,
.menu_item:hover>.link_sub_menu {
  color: #2699ca !important;
}

.user_notify_title p,
.user_name span {
  font-weight: 625;
}

.header_menu_list ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_item {
  display: inline-block;
  margin: 0px 10px;
  position: relative;
}

.menu_item>.sub-menu {
  display: none;
  position: absolute;
  background-color: #2d2d2d;
  top: 52px;
  right: -125px;
  width: 200px;
  padding: 10px 0;
  opacity: 0.8;
  z-index: 999;
}

.header_menu_list>ul>.menu_item:nth-child(4)::after,
.header_menu_list>ul>.menu_item:nth-child(5)::after {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 30px;
  top: 22px;
  right: 0px;
  cursor: pointer;
}

.menu_item:nth-child(4):hover .sub-menu,
.menu_item:nth-child(5):hover .sub-menu {
  display: block;
}

.menu_item>.link_sub_menu i {
  margin-right: 5px;
}

.sub-menu>.menu_item {

  padding: 0 20px;
}

/* foooter */
.footer {
  border-top: 4px solid #2d2d2d;
  padding-top: 16px;
  background-color: #fff;
}

.footer__heading {
  font-size: 16px;
  text-transform: uppercase;
}

.footer__list {
  padding-left: 0;
  list-style: none;
}

.footer-item-link {
  text-decoration: none;
  font-size: 14px;
  color: #737373;
  padding: 10px 0;
  display: block;
  display: flex;
  align-items: center;
}

.footer-item-link:hover {
  color: #44a9d5;

}

.footer-item-icon {
  margin: -3px 8px 0 0;
  font-size: 17px;
}

.footer__download {
  display: flex;
}

.footer-qr-img {
  width: 80px;
  border: 1px solid #44a9d5;
}

.footer__download-apps {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__download-app-link {
  text-decoration: none;
  color: transparent;
}

.footer-item-app {
  height: 16px;
}

h3 {
  font-size: 16px;
}

.grid__row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}