
.product-path {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 10px 0;
    line-height: 16px;
    color: #262626;
}

.product-path span i {
    font-size: 12px;
    margin: 0 3px;
    color: #999;
}

.product_detail {
    background-color: #fff;
    padding-bottom: 30px;
}

.product {

    display: flex;
    border-radius: 10px;
    padding: 25px 0;
}

.product_img {
    padding-top: 30%;
    flex: 0.7;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.product_intro {
    margin-top: 20px;
    width: 45%;
}

.product_title h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

.product_detail_infor {}


.product_infor_2 div,
.product_infor_1 div {
    margin-right: 50px;
}



.delivery_time {
    margin-bottom: 10px;
}

.delivery_time span,
.delivery_change span {
    width: 198px;
    display: inline-block;
}

.delivery_time a,
.delivery_change a {
    text-decoration: none;
    color: #2489F4;
    font-size: 600;
}

.product_quantity {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #4e4d4d;
}

.quan_title span {
    font-weight: 600;
    margin-right: 60px;
}

.add_quantity {
    border-radius: 3px;
    border: 1px solid #b9b8b8;
    padding: 3px 10px;
}

.add_quantity span {
    margin: 0 15px;
}

.add_quantity i {
    cursor: pointer;
}




.product_form {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.epi-movies-list {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
}

.epi_container {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 650;
}

.epi-ittem {
    margin: 5px 10px;
    background-color: #262626;
    padding: 2px 5px;
}

.epi-item-link {
    text-decoration: none;
    color: #fff;
}


.btn_action {
    width: 150px;
    border-radius: 10px;
    padding: 13px;
    background-color: #2489F4;
    margin-right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 155px;
    top: 75%;
    z-index: 999;
}

.btn_action a {
    color: #fff;
    text-decoration: none;
}

.btn_action:hover {
    transform: scale(1.1);
}

/* */
.product_detail_infor{
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}